<?xml version="1.0" encoding="UTF-8"?>
<configuration>  
	
	<!-- 日志存放路径 -->
	<property name="LOG_HOME" value="log" /> 
	
	<logger name="com.ibatis" level="DEBUG" />
    <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG" />
    <logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG" />
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" />
    <logger name="java.sql.Connection" level="DEBUG" />
    <logger name="java.sql.Statement" level="DEBUG" />
    <logger name="java.sql.PreparedStatement" level="DEBUG" />
	<!-- 是否看打出来的结果 -->
	<!-- 
	<logger name="java.sql.ResultSet" level="DEBUG" />
	 -->
	<!-- 控制台输出 -->  
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">  
            <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{80}:%L - %msg%n</Pattern>  
        </encoder>  
    </appender>
    
    <!-- 不同级别的文件记录在不同的日志文件中 -->  
    <appender name="FILEINFO"  
        class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <!-- log文件名称 -->  
            <fileNamePattern>${LOG_HOME}/log-info.%d{yyyy-MM-dd}.log</fileNamePattern>  
            <!-- 最多100个文件 -->  
            <maxHistory>100</maxHistory>  
        </rollingPolicy>  
        <encoder>  
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>  
        </encoder> 
        
        <!-- 过滤器，只记录INFO级别的日志 -->  
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>INFO</level>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
        </filter>  
    </appender>  
      
    <appender name="FILEERROR"  
        class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
             <!-- log文件名称 --> 
            <fileNamePattern>${LOG_HOME}/log-error.%d{yyyy-MM-dd}.log</fileNamePattern>  
            <!-- 最多100个文件 -->  
            <maxHistory>100</maxHistory>  
        </rollingPolicy>  
        <encoder>  
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>  
       </encoder> 
        
       <!-- 过滤器，只记录ERROR级别的日志 --> 
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>ERROR</level>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
        </filter>  
    </appender>  
  
    <root>  
        <level value="INFO" />
        <appender-ref ref="STDOUT" />  
        <appender-ref ref="FILEINFO" />  
        <appender-ref ref="FILEERROR" />  
    </root>  
</configuration>  